<nav>
    <div>
        <a href="/">
            <h1>Assay</h1>
            <h2>Database</h2>
        </a>
    </div>
    <ul>
        <a href="/assays/create/assay"><li>Create Assay</li></a>
        <li>Log in</li>
        <li>Log out</li>
        <li>
          <form action="/search" method="POST">
            <input type="search" name="searchAssay" />
            <button>Submit</button>
        </li>
        </form>
    </ul>
</nav>
