<nav>
    <div class="site-title">
        <a href="/">
            <h1>Assay</h1>
            <h2>Database</h2>
        </a>
    </div>
    <div>
        <ul>
            <li>Search</li>
            <a href="/assays/create/assay"><li>Create Assay</li></a>
            <li>Log in</li>
            <li>Log out</li>
            
        </ul>
    </div>
</nav>