<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <div>
            <main class="grid">
                <img src="img/sampletubes.jpg" alt="sample tubes" />
                <div class="welcome">
                    <h2>Welcome</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eaque obcaecati sequi voluptatum facere alias unde
                        laudantium accusantium similique repellat ipsa!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eaque obcaecati sequi voluptatum facere alias unde
                        laudantium accusantium similique repellat ipsa!
                    </p>
                </div>
                    <h2>Choose your options</h2>
                    <div class="card">
                        <h3>Search for Assay</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Omnis, nesciunt.
                        </p>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Omnis, nesciunt.
                        </p>
                    </div>
                    <div class="card">
                        <h3>Search by laboratory</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Omnis, nesciunt.
                        </p>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Omnis, nesciunt.
                        </p>
                    </div>
                    <div class="card">
                        <h3>About / Contact details</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Omnis, nesciunt.
                        </p>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Omnis, nesciunt.
                        </p>
                    </div>
                </div>
            </main>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>
